body {

    background-color: #f4f4f4;
    color:purple
}

/* Keeps View High Score right aligned */
.box-1{
    margin-top: 5%;
    padding: 30px;
}

/* Aligns Time to the right of the page. */
.box-2{
    color: #333333;
    text-align: right;
    margin-top: -10%;
    padding: 30px;
}
.startbox-3{
    background-color: darkblue;
    color: white;
}
.startbox-
.groupquestion-1{
  text-align: center;


}
.start_btn {
    font-family: 'Open Sans', sans-serif;
  font-size: 100px;
}